body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	max-width: 470px;
	margin: auto;
}

a {
    color: white;
    text-decoration: none;
	font-weight: bold;
font-size: 30px;
}

a:hover {
    color: red;
}

header {
	text-align: center;
}
	
div.a {
  text-align: center;
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
}

h2 {
	font-size: 25px;
	margin-top: 0;
}

.center {
 text-align: center
}

/* Add a black background color to the bottom navigation */
.nav {
	text-align:center;
  overflow: hidden;
  margin-bottom: 12px;
  /*position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
  */
}

/* Style the links inside the navigation bar */
.nav a {
  display: inline-block;
	margin-left: 2px;
  color: white;
	margin-right: 1rem;
  text-decoration: none;
  font-size: 1.5em;
}

/* Change the color of links on hover */
.nav a:hover {
  color: lightgray;
}